<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


       <!--开启注解功能-->
    <mvc:annotation-driven />
    <!--扫描包-->
     <context:component-scan base-package="com.lyl.controller"/>


    <!--对于dispatcher“/”下静态资源被禁止放访问的处理方法-->
    <!--另一种：-->
    <!--<mvc:resources mapping="" location=""/>-->
    <mvc:default-servlet-handler />

       <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <!--Jsp/Servlet视图-->
              <property name="viewClass">
                     <value>org.springframework.web.servlet.view.JstlView</value>
              </property>
              <!--jsp存放的目录-->
              <property name="prefix">
                     <value>/WEB-INF/jsp/</value>
              </property>
              <!--jsp文件后缀-->
              <property name="suffix">
                     <value>.jsp</value>
              </property>
       </bean>
       <!--异常的页面处理-->
       <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
              <property name="exceptionMappings">
                     <props>
                            <prop key="java.lang.Exception">outException</prop>
                            <prop key="java.lang.Throwable">outException</prop>

                     </props>
              </property>

       </bean>
       <!--<bean id="NotLeaveWord" class="com.lyl.interceptor.NotLeaveWord"/>-->



</beans>