<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyl.mapper.PostMapper" >
  <resultMap id="BaseResultMap" type="com.lyl.model.Post" >
    <id column="postId" property="postid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="topic" property="topic" jdbcType="VARCHAR" />
    <result column="matter" property="matter" jdbcType="VARCHAR" />
    <result column="postTime" property="posttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post
    where postId = #{postid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lyl.model.Post" >
    insert into post (postId, userId, topic, 
      matter, postTime)
    values (#{postid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{topic,jdbcType=VARCHAR}, 
      #{matter,jdbcType=VARCHAR}, #{posttime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lyl.model.Post" >
    update post
    set userId = #{userid,jdbcType=INTEGER},
      topic = #{topic,jdbcType=VARCHAR},
      matter = #{matter,jdbcType=VARCHAR},
      postTime = #{posttime,jdbcType=TIMESTAMP}
    where postId = #{postid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select postId, userId, topic, matter, postTime
    from post
    where postId = #{postid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select postId, userId, topic, matter, postTime
    from post
  </select>
</mapper>