<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyl.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.lyl.model.User" >
    <id column="userId" property="userid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="userPassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="userEmail" property="useremail" jdbcType="VARCHAR" />
    <result column="userNickname" property="usernickname" jdbcType="VARCHAR" />
    <result column="userBirthday" property="userbirthday" jdbcType="TIMESTAMP" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="userPoints" property="userpoints" jdbcType="INTEGER" />
    <result column="userRemark" property="userremark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lyl.model.User" >
    insert into user (userId, userName, userPassword, 
      userEmail, userNickname, userBirthday, 
      sex, userPoints, userRemark
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{usernickname,jdbcType=VARCHAR}, #{userbirthday,jdbcType=TIMESTAMP}, 
      #{sex,jdbcType=INTEGER}, #{userpoints,jdbcType=INTEGER}, #{userremark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lyl.model.User" >
    update user
    set userName = #{username,jdbcType=VARCHAR},
      userPassword = #{userpassword,jdbcType=VARCHAR},
      userEmail = #{useremail,jdbcType=VARCHAR},
      userNickname = #{usernickname,jdbcType=VARCHAR},
      userBirthday = #{userbirthday,jdbcType=TIMESTAMP},
      sex = #{sex,jdbcType=INTEGER},
      userPoints = #{userpoints,jdbcType=INTEGER},
      userRemark = #{userremark,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select userId, userName, userPassword, userEmail, userNickname, userBirthday, sex, 
    userPoints, userRemark
    from user
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select userId, userName, userPassword, userEmail, userNickname, userBirthday, sex, 
    userPoints, userRemark
    from user
  </select>
</mapper>